[user]
	email = n.amara@protonmail.ch
	name = Amara Nezli
[core]
	editor = vim
# Git alias
[alias]
    nah = "!f(){ git reset --hard; git clean -df; if [ -d ".git/rebase-apply" ] || [ -d ".git/rebase-merge" ]; then git rebase --abort; fi; }; f"
    forget="!git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D"
    forgetlist="!git fetch -p && git branch -vv | awk '/: gone]/{print $1}'"
    uncommit = reset --soft HEAD~1
